services:

  server:
    build: ./server
    ports:
      - "3001:3001"
    restart: always
    volumes:
      - ./server/chat.db:/app/chat.db

  client:
    build: ./ui
    ports:
      - "3000:80"
    depends_on:
      - server
